body {
    margin: 0;
    padding: 0;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f4f4f9; */
    font-family: Arial, sans-serif;
    background-image: url('/static/background.jpg'); 
    background-attachment: fixed;
    
    
}

/* Error message styling */
.error {
    color: white; /* White text color */
    background-color: red; /* Red background */
    padding: 10px; /* Some padding around the message */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 10px; /* Space below the message */
    font-weight: bold; /* Make text bold */
}

/* Success message styling */
.success {
    color: white; /* White text color */
    background-color: green; /* Green background */
    padding: 10px; /* Some padding around the message */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 10px; /* Space below the message */
    font-weight: bold; /* Make text bold */
}


.container {
    /* background-color: rgba(0, 128, 0, 0.5); */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center-align content */
    justify-content: center;
    /* background-color: #fff; */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 375px;
    position: relative;
}

.form-heading {
    display: block;
    top: 0;
    bottom:0;
    font-size: 1.5rem;
    color: #333;
    padding: 8px;
    margin: 5px 0 10px 0;
    border: 1px solid #0a0a0a;
    border-radius: 4px;
    border-style: double;
    border-width: 6px;
    
}

input:focus {
    box-shadow: 0 0 0 6px #ff5733, 0 0 0 10px;} /*#f0f0f0;*/ 

form {
    width: 100%;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: transform 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
    outline: none;
    background-color: #ffffff;
}

input:hover {
    border-color: #070707; /* Change border color */
    transform: scale(1.05); /* Slight zoom in */
}

/* Input Box Focus Effect */
input:focus {
    border-color: #131313; /* Highlight border */
    box-shadow: 0 0 10px rgba(31, 32, 32, 0.5); /* Add blue glow */
    transform: scale(1.05); /* Slight zoom in */
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between the boxes */
}

.flex-container .field {
    flex: 1 1 calc(50% - 10px);}

    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: all 0.3s ease;
    }
    
    select:focus {
        border-color: #007BFF;
    }


    .submit-btn{
    background-color: #05690d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    font-size: 1rem;
    
}

/* .submit-btn:hover {
    transform: scale(0.9); /* Scale and rotate the button */
    /* background-color: #036b08; Change the background color on hover 
} */


/* .submit-btn:active {
    transform: scale(1.1) translateY(5px); /* Shrink and move the button down slightly 
} */


.login-link {
    margin-top: 15px; /* Space between form and login link */
    text-align: center;
}

.login-link a {
    color: #4a5460;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.register-link {
    margin-top: 15px; /* Space between form and login link */
    text-align: center;
}

.register-link a {
    color: #4a5663;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
